@model INI.Models.DataBase.tblProgramaTareasContratista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Details</h2>

<div>
    <h4>programa_tareas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)


        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblResponsabContratista.Id_Contratista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblResponsabContratista.Id_Contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAlternativas.Des_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAlternativas.Des_Alternativa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
