@model IEnumerable<INI.Models.DataBase.tblActividadContratista>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Actividades</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<table id="mitabla" class="table striped hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Ini)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Fin)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Des_Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Des_Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblResponsabContratista.Id_Contratista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblAlternativas.Des_Alternativa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblEstadoTarea.Des_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Ini)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Des_Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Des_Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblResponsabContratista.Id_Contratista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblAlternativas.Des_Alternativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblEstadoTarea.Des_Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_Actividad }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Actividad }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Actividad })
                </td>
            </tr>
        }
    </tbody>

</table>
@Html.AtrasInvestic()
@section Scripts {

    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/seg-0.1-mitabla.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jqueryval")
}



