@model IEnumerable<INI.Models.DataBase.Revista>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}


<br /><br /><br />
<a class="button large bg-green" href="/CategoriaRevistas">Gestionar Categorias</a>
<a class="button large bg-green" href="/SubCategoriaRevistas">Gestionar Subcategorias</a>
<h2>Revista digital</h2>

<p>
    @Html.ActionLink("Nueva revista", "Create")
</p>
<table class="table" id="tbl_revista">
    <thead>
        <tr>
            <th>
                Titulo
            </th>                       
            <th>
                Categoria
            </th>
            <th>
                Subcategoria
            </th>
            <th>
                URL revista digital
            </th> 
            <th>
                URL portada slide
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>                               
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoriaRevista.CategoriaRevista.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoriaRevista.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlPdf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlfront)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
   <script>
    $(function () {

        $('#tbl_revista').dataTable({
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "../../Lang/es-CO.txt"
            }
        });


    });
</script>

}
