@model INI.Models.DataBase.tblProblemaProyectoInvestigacion

@{
    ViewBag.Title = "La superposición de la Onda";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idGrupoInvestigacion)
    <div class="grid fluid">
        <div class="row">
            <div class="span12">
                <strong>
                    Relate las semejanzas y diferencias entre nuestra manera adulta de hacer preguntas y la de niñas, niños y jóvenes. (Maestro/Co-invesigador)
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="span12 input-control textarea">
                @Html.TextAreaFor(model => model.Como)
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <strong>
                    Breve reflexión sobre el desarrollo de la bitacora # 3 por parte del (Maestro/co-investigador)
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="span12 input-control textarea">
                @Html.TextAreaFor(model => model.Reflexion)
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <strong>
                    Seguimiento perturbación de la ONDA
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(model => model.ConceptoAsesor, new { disabled = "diabled" })
                @Html.ValidationMessageFor(model => model.ConceptoAsesor)
            </div>
            <div class="span2 input-control switch">
                <label>
                    <input id="txtRev" type="checkbox" disabled />
                    <span class="check"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <input type="submit" value="Actualizar Información" class="button large bg-green" />
            </div>
        </div>
    </div>
}
<div class="verticalSpan1"></div>    

