@model IEnumerable<INI.Models.DataBase.tblForoProyectoInvestigacion>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "Foro";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoinvestigacion;
    investicEntities db = new investicEntities();
}

<p>
    <button id="lnkCrearForo" class="bg-green">Crear Foro</button>
</p>

@foreach (var item in Model)
{
    <div class="panel collapsed" data-role="panel">
        <div class="panel-header">
            Titulo: @item.Titulo | Autor: @item.AspNetUsers.Name | Respuestas: @item.Respuestas.ToString()
        </div>
        <div class="panel-content" style="display:none;">
            <div class="grid fluid">
                <div class="row">

                    <div class="span2 text-right">


                        <div style="margin: auto; width: auto;">

                            <div class="span1" onmouseover="tooltip.pop(this, '#asun', { sticky: true })">
                                Asunto:
                            </div>

                            <div style="display:none;">
                                <div id="asun">
                                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                                    <b><strong>Cual es tu Asunto?</strong></b><br /><br />
                                    Este campo es obligatorio. Aquí debes ingresar un Asunto.
                                </div>
                            </div>
                        </div>


                    </div>






                    <div class="span8 textarea input-control">
                        @Html.TextArea(item.id.ToString(), item.Mensaje, new { @disabled = "disabled" })
                    </div>
                    <div class="span3">
                        <button id="lnkResponderForo" onclick="javascript: Responder('@item.id');" class="bg-green">Responder</button>
                    </div>
                </div>
                @if (item.tblForoProyectoInvestigacion1.Count > 0)
                {
                    foreach (var itemRes in item.tblForoProyectoInvestigacion1)
                    {
                        <div class="row">


            


                            <div class="span2 text-right">


                                <div style="margin: auto; width: auto;">


                                   <div class="span1" onmouseover="tooltip.pop(this, '#Respuestaa', { sticky: true })">
                                Respuesta:
                            </div>


                                    <div style="display:none;">
                                        <div id="Respuestaa">
                                            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>Cual es tu clave?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar una clave de seis digitos.
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="span8 textarea input-control">
                                @Html.TextArea(itemRes.id.ToString(), itemRes.Mensaje, new { @disabled = "disabled" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <br />
}

<div id="nuevo-foro">
    @{
        tblForoProyectoInvestigacion tblforo = new tblForoProyectoInvestigacion();
        tblforo.idGrupoInvestigacion = idGrupoInvestigacion;
        tblforo.Respuestas = 0;
        tblforo.idUser = AspNetUsers.GetUserId(User.Identity.Name);
        Html.RenderPartial("_CrearForo", tblforo);
    }
</div>

@section Scripts {    
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Investic/iep-0.1-foroproyecto.js"></script>
    <script>
        AlertMessage('@msj');
    </script>
}




