@using Microsoft.AspNet.Identity
@model INI.Models.ManageUserViewModel

<link href="~/Content/tooltip.css" rel="stylesheet" />
<script src="~/Scripts/tooltip.js"></script>

@using (Html.BeginForm("AdministrarCuenta", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div style="height:40px;"></div>
    <div class="grid">
        <div class="row">
            <div class="span3 offset6">


                <div style="margin: auto; width: auto;">

                    <strong onmouseover="tooltip.pop(this, '#OldPassword1', { sticky: true })">
                        @Html.LabelFor(m => m.OldPassword)
                    </strong>


                    <div style="display:none;">
                        <div id="OldPassword1">
                            <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
                            <b><strong>Cual es tu constraseña actual?</strong></b><br /><br />
                            Este campo es obligatorio. Aquí debes ingresar una constraseña actual.
                        </div>
                    </div>
                </div>



                
            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset6">


                <div style="margin: auto; width: auto;">

                    <strong onmouseover="tooltip.pop(this, '#NewPassword1', { sticky: true })">
                        @Html.LabelFor(m => m.NewPassword)
                    </strong>


                    <div style="display:none;">
                        <div id="NewPassword1">
                            <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
                            <b><strong>Cual es tu nueva constraseña?</strong></b><br /><br />
                            Este campo es obligatorio. Aquí debes ingresar un nueva clave.
                        </div>
                    </div>
                </div>

              
            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset6">


                
                <div style="margin: auto; width: auto;">

                    <strong onmouseover="tooltip.pop(this, '#ConfirmPassword1', { sticky: true })">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </strong>


                    <div style="display:none;">
                        <div id="ConfirmPassword1">
                            <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
                            <b><strong>Tienes que confirmar constraseña?</strong></b><br /><br />
                            Este campo es obligatorio. Aquí debes confirmar tu clave.
                        </div>
                    </div>
                </div>


            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset9">
                <input type="submit" value="Cambiar contraseña" class="button large" />
            </div>
        </div>
        <div class="row">
            <div class="span3 offset9">
                @Html.AtrasInvestic()
            </div>
        </div>
        <div class="row">
            <div class="span3 offset9">
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
}
