@model INI.Models.DataBase.tblEjeInvestigacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}

<br /><br /><br />
<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ejes de investigación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Nombre de Eje de investigación:
            <div class="col-md-10">
                @Html.EditorFor(model => model.ejeInv_nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ejeInv_nombre, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nuevo ítem" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar al listado", "Index")
</div>
