@model INI.Models.Adds.CuentaCursos


<div id="category1" style="vertical-align: middle; padding-bottom:5px;cursor:pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/1tecnologia.png" alt="Tecnología en Informática" />
    Tecnología en Informática(@Model.Notecinf)
</div>
<div id="category2" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/2cnaturales.png" alt="" style=" vertical-align: middle;" />
    Ciencias Naturales(@Model.NoCNat)
</div>
<div id="category3" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/3matematicas.png" alt="" style=" vertical-align: middle;" />
    Matemáticas(@Model.NoMat)
</div>
<div id="category4" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/4csociales.png" alt="" style=" vertical-align: middle;" />
    Ciencias Sociales(@Model.CSoc)
</div>
<div id="category5" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/5lenguaje.png" alt="" style=" vertical-align: middle;" />
    Lenguaje(@Model.NoLeng)
</div>
<div id="category7" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/6proytransversales.png" alt="" style=" vertical-align: middle;" />
    Inglés(@Model.Notecinf)
</div>
<div id="category6" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/7investigacion.png" alt="" style=" vertical-align: middle;" />
    Proyectos Transversales(@Model.NoProyTrans)
</div>
<div id="category8" style="vertical-align: middle; padding-bottom: 5px; cursor: pointer;">
    <img width="40" height="40" src="../../images/Investiga/apr/ava/8otros.png" alt="" style=" vertical-align: middle;" />
    Otros(@Model.Nootros)
</div>

