@model INI.Models.BusquedaInvestigacion.SearchProyect
@using INI.Models.DataBase

@{
    ViewBag.Title = "Busqueda de Proyectos";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    investicEntities db = new investicEntities();
}

<style>
    #tblEjeInvestigacion_ID {
        width:600px;
    }
</style>
<link href="~/Content/tooltip.css" rel="stylesheet" />
<script src="~/Scripts/tooltip.js"></script>

<div class="row" style="position: fixed; top: 95px; font-family:Chewy; color:#FF1643; font-size:22pt; text-align:center;">Docentes Investigando</div>
<div style="position: fixed; top: 140px; background: url('../../images/fondosCapas/bg_docentesInvestigando_Consulta.png') no-repeat; padding: 10px 10px 10px 100px; height:490px; width:900px; color:#fff;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table style="background-color: transparent; margin-left: auto; margin-right: auto; width:600px;">
            <tr>
                <td colspan="2">
                    <label>Aqui puedes consultar los proyectos de Investigación realizados los grupos de investigación del departamento.</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: auto; width: auto;">
                        <label onmouseover="tooltip.pop(this, '#Tituloa', { sticky: true })">Titulo: </label>
                        @Html.TextBoxFor(m => (m.Titulo),new { @required = "required" })
                        @Html.ValidationMessageFor(m => m.Titulo, String.Empty, new { @style = "color:red;!important" })

                        <div style="display:none;">
                            <div id="Tituloa">
                                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                                <b><strong>Digite un título.?</strong></b><br /><br />
                                Este campo es obligatorio. Aquí debes ingresar un título.
                            </div>
                        </div>

                    </div>
</td>
                <td rowspan="2">
                    <label>Deseo buscar: </label>
                    <div class="input-control radio" data-role="input-control">
                        <label>
                            Proyectos de Investigacion
                            <input type="radio" name="EsProyectoInvestigacion" id="EsProyectoInvestigacion" value="1" checked="">
                            <span class="check"></span>
                        </label>
                    </div>
                    <br />
                    <div class="input-control radio" data-role="input-control">
                        <label>
                            Grupos de Investigacion
                            <input type="radio" name="EsProyectoInvestigacion" id="EsProyectoInvestigacion" value="2">
                            <span class="check"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: auto; width: auto;">
                        <label onmouseover="tooltip.pop(this, '#PalabrasClaves', { sticky: true })">Palabras Claves: </label>
                        @Html.TextBoxFor(m => m.PalabrasClave, new { @required = "required" })
                        @Html.ValidationMessageFor(m => m.PalabrasClave, String.Empty, new { @style = "color:red;!important" })
                        <div style="display:none;">
                            <div id="PalabrasClaves">
                                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                                <b><strong>Cual es tu palabras claves?</strong></b><br /><br />
                                Este campo es obligatorio. Aquí debes ingresar una Palabras Claves.
                            </div>
                        </div>

                    </div>
</td>
            </tr>
            <tr>
                <td>
                    <button id="btnEsBA" type="button">Opciones avanzadas</button>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <div>
                        <button class="large bg-green fg-white" type="submit">
                            Buscar
                            <i class="icon-search bg-green fg-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <br /><br />
        <div id="opcionesAvanzadas" style="display:none;">
            @Html.Hidden("EsBusquedaAvanzada", "1")
            <table style="background-color:transparent; margin-left:auto; margin-right:auto;">
                <tr>
                    <td colspan="3">
                        <label>Línea de Investigación</label>
                        @Html.DropDownList("tblEjeInvestigacion_ID")
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de publicacion</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Desde: </label>
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.FechaDesde, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                        </div>
                    </td>
                    <td>
                        <label>&nbsp;</label>
                    </td>
                    <td>
                        <label>Hasta: </label>
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.FechaHasta, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Autor: </label>
                        @Html.TextBoxFor(m => m.Autor, new { @required = "required" })
                    </td>
                </tr>
            </table>
        </div><br /><center>@Html.AtrasInvestic()</center>
    }
</div>
<div class="row" style="position:fixed; top: 175px; right:250px;">
    <img src="~/images/otros/marcador.png" />
</div>

@section Scripts{
    <script>
        $(function () {
            $("#btnEsBA").click(function () {
                //Verifica campo oculto
                var ba = $("#EsBusquedaAvanzada").attr("value");
                if (ba == 1) {
                    $("#EsBusquedaAvanzada").attr("value", 2);
                    //Despliega capa de opciones avanzadas
                    $('#opcionesAvanzadas').slideDown();
                } else {
                    $("#EsBusquedaAvanzada").attr("value", 1);
                    //Oculta capa de opciones avanzadas
                    $('#opcionesAvanzadas').slideUp();
                }
            });
        });
    </script>

@Scripts.Render("~/bundles/jqueryval")
}
