@model INI.Models.DataBase.tblTipoEstudioProy

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"><br /><br /><br />
        <h4>Tipo de estudio del proyecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Nombre de Tipo de estudio:
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipEst_nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipEst_nombre, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nuevo ítem" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar al listado", "Index")
</div>
