@model IEnumerable<INI.Models.DataBase.tblParadigmaEpistemologico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<br /><br /><br /><br /><br />
<h2>Paradigma Epistemológico</h2>

<p>
    @Html.ActionLink("Nuevo elemento de lista", "Create")
</p>
<table id="Tabla_1" class="table striped hover" style="width:100%">
    <thead>
        <tr>
            <th>Paradigma Epistemológico</th>
            <th>Acciones</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.parEpi_nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.tblParadigmaEpistemologico_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.tblParadigmaEpistemologico_ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.tblParadigmaEpistemologico_ID })
        </td>
    </tr>
}

</table>
@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
            $(function () {
                $('#Tabla_1').dataTable({
                    "sPaginationType": "full_numbers",
                    "oLanguage": {
                        "sUrl": "../../Lang/es-CO.txt"
                    }
                });


                $(function () {
                    $('#Tabla_2').dataTable({
                        "sPaginationType": "full_numbers",
                        "oLanguage": {
                            "sUrl": "../../Lang/es-CO.txt"
                        }
                    });

                });
            });

    </script>
}
