@model INI.Models.DataBase.CategoriaRevista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<br /><br /><br />
<h2>Detalles</h2>

<div>
    <h4>Categoria revista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urlimg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlimg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
