@model IEnumerable<INI.Models.Mymodels.RedVirtualGrupoOwner>
@{
    ViewBag.Title = "Aprovar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<br /><br /><br />
@Html.ActionLink("Aprobar", "Aprobar", "RVC", null, new { @class = "icon-list", data_hint = "Aprobar|Aqui podras aprobar las nuevas RVC.", data_hint_position = "bottom" })                    
@Html.ActionLink("Nueva categoria", "Index", "tbNetVirtualCategoryResources", null, new { @class = "icon-plus-2", data_hint = "Nueva categoria|Aqui podras crear una nueva categoria.", data_hint_position = "bottom" }) 
<table id="rvc" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>
                Nombre
            </th>
            <th>
                Fecha
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>                    
                    <button class="button large primary btnrvc" id="@item.id">Aprobar</button>                  
                    @Html.ActionLink(" ", "Details", "tbNetVirtualGroups", new { id = item.id }, new { @class = "icon-list", data_hint = "Detalles|Aqui podras saber más sobre esta red.", data_hint_position = "bottom" })                    
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#rvc').DataTable();
            $(".btnrvc").click(function () {
                var obj = $(this);
                var id = $(this).attr("id");
                console.log(id);
                $.get("/RVC/ChangeState/" + id, function (data) {
                    obj.hide();
                    var not = $.Notify.show(data.rta);
                });
            });
        });
    </script>
}




